html {
	scroll-behavior: smooth;
}
.front-page{
	font-family: 'Varela Round', sans-serif;
}
/*--HEADER--*/
#header{
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 100;
}
.menu-desktop ul{
	text-align: right;
	padding-top: 5px;
}
.menu-desktop ul li{
	display: inline-block;
	margin-left: 15px;
}
.menu-desktop ul li a{
	color: black;
	font-weight: 600;
	font-size: 18px;
}
.menu-desktop ul li a:hover{
	text-decoration: none;
}
.brand-logo{
	padding-top: 5px;
}
.icon-mobile{
	display: none;
}
.brand-logo-mobile{
	display: none;
}
.search {
	background-color: #fff;
	border: 1px solid #BDBDBD;
	border-radius: 5px;
}
.search input:focus { 
	outline: none !important;
	border-color: rgb(0,0,0,0);
	box-shadow: 0 0 10px  rgb(0,0,0,0);
}
.search input{
	border: 0;
}
.search .fa-search{
	padding: 13px 10px 10px 10px;
}
.menu-desktop .icon-menu-mobile{
	display: none;
	font-size: 18px;
	cursor: pointer;
}
.hidden-menu-mobile .btn-login a{
	background-color: #0FAEB4;
	color: #fff;
	padding: 5px 15px;
	cursor: pointer;
}
.hidden-menu-mobile .btn-login a:hover{
	background-color: #0FAEB4;
	color: #fff;
	padding: 5px 15px;
	cursor: pointer;
	text-decoration: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.overlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0, 1);
	overflow-x: hidden;
	transition: 0.5s;
}

.overlay-content {
	position: relative;
	top: 5%;
	width: 100%;
	text-align: left;
	margin-top: 30px;
	padding-left: 20px;
}

.overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 14px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
	color: #f1f1f1;
}

.overlay .closebtn {
	position: absolute;
	top: 10px;
	right: 45px;
	font-size: 30px;
}
.scrolled{
	background-color: #fff;
	transition: 0.3s;
	padding-bottom: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.title{
	text-align: center;
}
.description-service{
	margin-bottom: 20px;
}
.img-icon-service img{
	width: 100%;
}
.img-koleksi img{
	width: 100%;
	margin-bottom: 20px;
}
.bg-color-blue{
	background-color: #0FAEB4;
}
.box-description{
	padding: 15px;
	color: #fff;
	text-align: justify;
	border-radius: 5px;
	margin-bottom: 25px;
}
.box-description p{
	color: #fff;
}
/*-- Dashboard--*/
#header-dashboard{
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 100;
}
.menu-dashboard li{
	display: inline-block;
	margin-left: 15px;
}
.menu-dashboard li a{
	color: #fff;
	font-weight: 600;
}
.menu-dashboard .fa-circle{
	font-size: 8px;
}
.menu-dashboard li a:hover{
	color: #fff;
	text-decoration: none;
}
.icon-header-mobile{
	display: none;
}
.overlay-dashboard {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0, 1);
	overflow-x: hidden;
	transition: 0.5s;
}

.overlay-content-dashboard {
	position: relative;
	top: 5%;
	width: 100%;
	margin-top: 30px;
	padding-left: 20px;
}

.overlay-dashboard a {
	text-decoration: none;
	font-size: 18px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.overlay-dashboard a:hover, .overlay-dashboard a:focus {
	color: #f1f1f1;
}

.overlay-dashboard .closebtn {
	position: absolute;
	top: 10px;
	right: 25px;
	font-size: 30px;
}
.ava-picture img{
	width: 50px;
	height: 50px;
	margin-right: 10px;
	border-radius: 100px;
}
.ava-picture{
	color: #fff;
}
.menu-list-dashboard ul{
	margin-left: -35px;
}
.menu-list-dashboard ul li{
	margin-bottom: 20px;
	list-style: none;
}
.icon-header-mobile .fa-bars{
	font-size: 22px;
	color: #fff;
}
.ava-profil img{
	width: 35px;
	height: 35px;
	border-radius: 100px;
}
.border-left{
	border-left: 1px solid #fff;
	padding-left: 10px;
}
.dropbtn {
	background-color: #4CAF50;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	right: 0;
	text-align: left;
	position: absolute;
	background-color: #0FAEB4;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: #0FAEB4;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #FFAD53;
	text-decoration: none;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}
#dashboard{
	padding-top: 50px;
	padding-bottom: 50px;
	margin-top: 50px;
	bottom: 0;
}
.profil-picture{
	padding: 20px 10px;
	border-radius: 5px;
}
.profil-picture img{
	width: 100px;
	height: 100px;
	border-radius: 100px;
}
.your-name{
	margin-left: 30%;
}
.your-name h5{
	font-weight: bold;
}
.your-name h6{
	font-weight: 600;
}
.setting{
	text-align: right;
}
.b-r-5{
	border-radius: 5px;
}
.fa-star{
	color:#FDD835; 
}
.saldo-now a{
	color: #bdbdbd;
	font-style: italic; 
}
.img2 img{
	width: 100%;
	height: 50px;
}
.order-active{
	padding: 10px 0;
	overflow-x: auto;
	margin-bottom: 15px;
}
.order-active:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.order-active h6{
	font-size: 10px;
	font-weight: 600;
}
.order-active small{
	color: #bdbdbd;
	font-size: 10px;
}
.order-active a{
	font-size: 12px;
	font-weight: 600;
}
.list2{
	border-left: 1px solid #bdbdbd;
}
.buying-active{
	padding: 10px 0;
	overflow-x: auto;
	margin-bottom: 15px;
}
.buying-active:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.buying-active h6{
	font-size: 12px;
	font-weight: 600;
}
.buying-active small{
	color: #bdbdbd;
	font-size: 10px;
}
.buying-active a{
	font-size: 12px;
	font-weight: 600;
}
/*-- LOGIN --*/
.form-login input{
	border: 0;
	border-bottom: 1px solid #bdbdbd;
}
.form-login input:focus { 
	outline: none !important;
	border-color: rgb(0,0,0,0);
	box-shadow: 0 0 10px  rgb(0,0,0,0);
}
.floating-label {
	position: relative;
	margin-bottom: 30px;
}

.floating-input,
.floating-select {
	font-size: 14px;
	padding: 4px 4px;
	display: block;
	width: 100%;
	height: 30px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #0faeb4;
}

.floating-input:focus,
.floating-select:focus {
	outline: none;
	border-bottom: 2px solid #0faeb4;
}

.floating-label label {
	color: #bdbdbd;
	font-size: 14px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 5px;
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
}

.floating-input:focus~label,
.floating-input:not(:placeholder-shown)~label {
	top: -18px;
	font-size: 14px;
	color: #0faeb4 ;
}

.floating-select:focus~label,
.floating-select:not([value=""]):valid~label {
	top: -18px;
	font-size: 14px;
	color: #0faeb4 ;
}

.floating-input:focus~.bar:before,
.floating-input:focus~.bar:after,
.floating-select:focus~.bar:before,
.floating-select:focus~.bar:after {
	width: 50%;
}

.floating-textarea {
	min-height: 30px;
	max-height: 260px;
	overflow: hidden;
	overflow-x: hidden;
}

.highlight {
	position: absolute;
	height: 50%;
	width: 100%;
	top: 15%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}

.floating-input:focus~.highlight,
.floating-select:focus~.highlight {
	-webkit-animation: inputHighlighter 0.3s ease;
	-moz-animation: inputHighlighter 0.3s ease;
	animation: inputHighlighter 0.3s ease;
}
.forget-password{
	font-size: 14px;
}
.forget-password a{
	color: #d32f2f;
	font-weight: 600;
}
.forget-password a:hover{
	color: #d32f2f;
	text-decoration: none;
}
.btn-login button{
	width: 100px;
}
.btn-login .btn-blue{
	background-color: #0faeb4;
	color: #fff;
}
.login-with a{
	color: black;
	padding: 5px;
	font-size: 12px;
	margin-right: 10px;
	border: 1px solid #bdbdbd;
	border-radius: 30px;

}
.login-with img{
	width: 20px;
	height: 20px;
}
.login-with a:hover{
	text-decoration: none;
	color: black;
	background: rgb(255,173,83);
	background: -moz-linear-gradient(90deg, rgba(255,173,83,1) 0%, rgba(255,80,157,1) 50%);
	background: -webkit-linear-gradient(90deg, rgba(255,173,83,1) 0%, rgba(255,80,157,1) 50%);
	background: linear-gradient(90deg, rgba(255,173,83,1) 0%, rgba(255,80,157,1) 50%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffad53",endColorstr="#ff509d",GradientType=1);
}
.register-account{
	border-top: 1px solid #DEE2E6;
	padding-top: 20px;
}
.register-account p{
	font-size: 14px;
}

/*--REGISTER--*/
#register{
	height: 100vh;
	padding: 10% 0;
}
.img-register img{
	width: 100%;
}
.register{
	margin-right: 10%;
	margin-left: 10%;	
}
.register h3{
	color: #fff;
}
.bg-color-blue{
	color: #0FAEB4;
}
.register-box-shadow{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn-register button{
	background-color: #0faeb4;
	color: #fff;
	margin-left: 10px;
	width: 100px;
}
.btn-register a{
	width: 100px;
}
.register-as{
	margin-bottom: 25px;
}
.register-as h6{
	font-size: 14px;
}
.register-as input[type="radio"] {
	display: none;
}

.register-as  input[type="radio"] + label {
	color: #292321;
	font-family: Arial, sans-serif;
	font-size: 14px;
}

.register-as  input[type="radio"] + label span {
	display: inline-block;
	width: 19px;
	height: 19px;
	margin: -1px 4px 0 0;
	vertical-align: middle;
	cursor: pointer;
	border-radius: 50%;
}

.register-as  input[type="radio"] + label span {
	background-color: #292321;
}

.register-as  input[type="radio"]:checked + label span {
	background-color: #10A191;
}

.register-as  input[type="radio"] + label span,
.register-as  input[type="radio"]:checked + label span {
	transition: background-color 0.4s linear;
}

.register-as  input[type="radio"] + label span,
.register-as  input[type="radio"]:checked + label span {
	transition: background-color 0.4s linear;
}
/*--- ABOUT --*/
#about{
	
}
.img-about{
	margin-top: -80px;
	background-image: url('../assets/img/bg.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
	width: 100%;
}
.about{
	padding-top: 150px;
}
.icon-pickpict img{
	width:50%;
}
.brk-btn {
	position: relative;
	background: none;
	color: #0FAEB4;
	text-transform: uppercase;
	text-decoration: none;
	border: 2px solid #0FAEB4;
	padding: 0.5em 1em;
}
.brk-btn::before {
	content: "";
	display: block;
	position: absolute;
	width: 10%;
	background: #fff;
	height: 0.3em;
	right: 20%;
	top: -0.21em;
	transform: skewX(-45deg);
	-webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
	transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
}
.brk-btn::after {
	content: "";
	display: block;
	position: absolute;
	width: 10%;
	background: #fff;
	height: 0.3em;
	left: 20%;
	bottom: -0.25em;
	transform: skewX(45deg);
	-webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
	transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
}
.brk-btn:hover{
	text-decoration: none;
	color: #0FAEB4;
}
.brk-btn:hover::before {
	right: 80%;
}
.brk-btn:hover::after {
	left: 80%;
}


/*-- SERVICE --*/
#service{
	padding-top: 100px;
}
.list-service{
	border: 1px solid #bdbdbd;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
}
.list-service:hover{
	background-color: #0faeb4;
	border: 0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.list-service:hover h5{
	color: #fff;
}
.list-service:hover p{
	color: black;
}
.list-service a:hover{
	text-decoration: none;
}
.list-service:hover .img-service{
	-webkit-animation-name: rubberBand;
	animation-name: rubberBand;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@-webkit-keyframes rubberBand {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	30% {
		-webkit-transform: scale3d(1.25, 0.75, 1);
		transform: scale3d(1.25, 0.75, 1);
	}
	40% {
		-webkit-transform: scale3d(0.75, 1.25, 1);
		transform: scale3d(0.75, 1.25, 1);
	}
	50% {
		-webkit-transform: scale3d(1.15, 0.85, 1);
		transform: scale3d(1.15, 0.85, 1);
	}
	65% {
		-webkit-transform: scale3d(.95, 1.05, 1);
		transform: scale3d(.95, 1.05, 1);
	}
	75% {
		-webkit-transform: scale3d(1.05, .95, 1);
		transform: scale3d(1.05, .95, 1);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}
@keyframes rubberBand {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	30% {
		-webkit-transform: scale3d(1.25, 0.75, 1);
		transform: scale3d(1.25, 0.75, 1);
	}
	40% {
		-webkit-transform: scale3d(0.75, 1.25, 1);
		transform: scale3d(0.75, 1.25, 1);
	}
	50% {
		-webkit-transform: scale3d(1.15, 0.85, 1);
		transform: scale3d(1.15, 0.85, 1);
	}
	65% {
		-webkit-transform: scale3d(.95, 1.05, 1);
		transform: scale3d(.95, 1.05, 1);
	}
	75% {
		-webkit-transform: scale3d(1.05, .95, 1);
		transform: scale3d(1.05, .95, 1);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
} 
.list-service h5{
	color: black;
	font-weight: 600;
}
.list-service p{
	color: #bdbdbd;
}
.img-service{
	width: 70%;
	height: 80px;
	border-radius: 5px;
}
/*-- KOLEKSI --*/
#koleksi{
	padding-top: 100px;
}
.koleksi-img {
	border-radius: 5px;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);	
}
.koleksi-img img{
	width: 100%;
	height: 150px;
}
.koleksi-img:hover{
}
.btn-view-all a{
	color: #fff;
	padding: 5px 15px;
	background: rgb(255,173,83);
	background: -moz-linear-gradient(90deg, rgba(255,173,83,1) 0%, rgba(255,80,157,1) 50%);
	background: -webkit-linear-gradient(90deg, rgba(255,173,83,1) 0%, rgba(255,80,157,1) 50%);
	background: linear-gradient(90deg, rgba(255,173,83,1) 0%, rgba(255,80,157,1) 50%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffad53",endColorstr="#ff509d",GradientType=1);
}
.btn-view-all a:hover{
	color: #fff;
	text-decoration: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*-- FOOTER --*/

#footer{
	margin-top: 30px;
}
#footer-dasboard{
	bottom: 0;
	margin-bottom: 0;
	height: 100%;
}
.footer-top{
	padding: 20px 0;
	border-top: 1px solid #9E9E9E;
	border-bottom: 1px solid #9E9E9E;
}
.menu-footer li{
	list-style: none;
}
.menu-footer li a{
	color: #9E9E9E;
}
.menu-footer{
	margin-left: -40px;
}
.download-apps img{
	width: 100px;
	height: 30px;
}
.sosmed{
	margin-left: -40px;
}
.sosmed li{
	display: inline-block;
	margin-right: 10px;
	border:1px solid #0FAEB4;
	height: 30px;
	width: 30px;
	border-radius: 100px;
	text-align: center;
	padding-top: 4px;

}
.sosmed li a{
	color: #0FAEB4;
}
.sosmed li:hover a{
	color: #fff;
}
.sosmed li:hover{
	background-color: #0FAEB4;
}
.footer-bottom p{
	font-size: 12px;
}

/*-- PENCARIAN --*/
#page-search{
	padding-top: 100px;
}
.title-page {
	
}
.title-page span{
	font-style: italic;
	font-weight: 600;
}
.btn-filter button{
	width: 100%;
	margin-top: 30px;
}
.box-filter{
	padding: 15px;
	margin-bottom: 50px;
}
.bg-color-filter{
	background-color: #F5F5F5;
}
.slidecontainer {
	width: 100%;
}
.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 15px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
	border-radius: 100px;
	background: #0faeb4;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #4CAF50;
	cursor: pointer;
}
.postcard{
	border: 1px solid #F5F5F5;
	margin-bottom: 20px;
}
.postcard:hover{
	border: 0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cover100 span{
	position: absolute;
	background-color: #0faeb4;
	padding: 5px 10px;
	color: #fff;
}
.cover100 img{
	width: 100%;
	height: 200px;
}
.postcard-body{
	padding: 10px;
	text-align: center;
	background-color: #fff;
}
.postcard-body small{
	font-style: italic;
}
.postcard-body a{
	color: black
}
.postcard-body h5{
	font-weight: 600;
}
.postcard-body a:hover{
	text-decoration: none;
	color: black;
}
.postcard-footer{
	border-top: 1px solid #F5F5F5;
	padding: 10px;
	background-color: #fff;
}
.postcard-footer{
	text-align: center;
}
.postcard-footer label{
	font-size: 14px;
	color: #BDBDBD;
	margin: 0 5px;
}
.postcard-footer .fa-shopping-bag:hover{
	color: #0faeb4;
	cursor: pointer;
}
.border-bottom{
	border-bottom: 4px solid #bdbdbd;
}
.border-top{
	border-top: 4px solid #bdbdbd;
}
/*-- detail product --*/
#detail-product{
	padding-top: 50px;
	padding-bottom: 50px;
	margin-top: 80px;
	bottom: 0;
}
.bg-color-grey{
	background-color: #F5F5F5;
}
.detail-product{
	padding: 15px;
}
.img-display img{
	width: 100%;
}
/* Hide the images by default */
.mySlides {
	display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
	cursor: pointer;
}

/* Add a transparency effect for thumnbail images */
.demo {
	opacity: 0.6;
}

.active,
.demo:hover {
	opacity: 1;
}
.bg-white{
	background-color: #fff;
}
.detail-produk-right a{
	margin-left: 15px;
	color: #0FAEB4;
}
.detail-produk-right a:hover{
	text-decoration: none;
}
.avatar-creator img{
	height: 50px;
	width: 50px;
	border-radius: 100px;
}
.avatar-creator{
	float: left;
}
.name-creator{
	margin-left: 10px;
	padding-top: 15px;
}
.name-creator a{
	color: #111; 
}
.name-creator h6{
	color: black;	
	font-style: italic;
}
.name-creator span{
	font-style: normal;
	color: #BDBDBD;
}
.description-product h6{
	font-weight: 600;
	border-bottom: 1px solid #bdbdbd;
}
.description-product p{
	color: #9E9E9E;
}
.info-product label{
	color: #BDBDBD;
}
.info-product span{
	color: black;
}
.size-product h6{
	font-weight: 600;
	border-bottom: 1px solid #bdbdbd;
}
.size-product h5{
	font-size: 13px;
}
.size-product input{
	margin-left: -10px;
}
.size-product img{
	height: 100px;
	width:100px;
}
.red{
	color: #F44336;
}
.btn-add-to-cart button{
	background-color: #FFAD53;
	border-radius: 30px;
	color: #fff;
}
.btn-add-to-cart button:hover{
	color: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.box{
	border: 1px solid #F5F5F5;
	border-radius: 5px;
	padding: 20px 0;
	margin-right: 25px;
	width: 250px;
	padding: 10px;
}
.box:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.box h6{
	margin-bottom: 0;
}
.box small{
	color: #bdbdbd;
}
.avatar2 img{
	height: 40px;
	width: 40px;
	border-radius: 100px;
}
.rating i{
	color: #FDD835;
}
.rating label{
	border-bottom: 1px solid #bdbdbd;
	padding-bottom:7px; 

}

/*-- Page Creator --*/
#page-creator{
	padding-top: 50px;
	padding-bottom: 50px;
	margin-top: 80px;
}
.like{
	color: #bdbdbd
}
.like.fa {
	cursor: pointer;
	user-select: none;
}
.snip1559 {
	position: relative;
	display: inline-block;
	overflow: hidden;
	border-radius: 5px;
	width: 100%;
	background-color: #ffffff;
	color: #2B2B2B;
	text-align: center;
	font-size: 16px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.snip1559 * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.snip1559 .profile-image {
	padding: 15% 10% 0;
}

.snip1559 .profile-image img {
	width: 80px;
	height: 80px;
	vertical-align: top;
	position: relative;
	border-radius: 50%;

}

.snip1559 figcaption {
	padding: 5% 10% 5%;
}

.snip1559 h3 {
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	margin: 3px 0;
}

.snip1559 p {
	font-size: 14px;
	color: #C5BDC1;
}
.verified{
	position: absolute;
	padding-top: 8px;
	padding-left: 10px;
}
.verified span{
	background-color: #4ED210;
	border-radius: 30px;
	padding: 3px 10px;
	font-size: 12px;
	color: #fff;
}
.description-creator {
	border-radius: 5px;
	padding: 20px 10px;
}
.rating-creator h4{
	font-size: 12px;
}
.grey{
	color: #c5bdc1;
}
.rating2 span{
	color: #FDD835;
}
.info2 span{
	color: black;
}
.skill span{
	font-style: italic;
	color: #9DDDFB;
}
.action2 a{
	margin-right: 15px;
	color: #bdbdbd;
}
.action2 a:hover{
	text-decoration: none;
	color: #0FAEB4;
}

/*--pesan custom--*/
.detail-order{
	padding: 20px;
}
.rating3 h6 i{
	color: #FDD835;
}
.rating3 span{
	font-style: italic;
	color: #bdbdbd;
}
.type-ilustrasi span{
	color: #D64542;
}
.creatorBy a{
	color: #0FAEB4;
	text-decoration: underline;
	font-style: italic;
}
.title4{
	border-bottom: 1px solid #bdbdbd;
	width: 50%;
}
.width-table{
	width: 50%;
}
.img-sample{
	max-height:350px; 
}
.img-sample img{
	max-height: 350px;
	height: auto;
}
.thumbnail-img{
	height: 100px;
}
.thumbnail-img img{
	height: auto;
	max-height: 100px;
}
/*-- Pesanan Anda*/
.list5{
	border-bottom:2px solid #eeeeee ;
}
.progres .fa-check-circle{
	color: #0FAEB4;
}
.progres .fa-dot-circle{
	color: #ffad53;
}
.progres .fa-circle{
	color: #bdbdbd ;
}
.list6 h6{
	margin-right: -35px;
}
.progres{
	margin-bottom: -13px;
}
.step1 h6{
	margin-right: -25px;
}
.step3 h6{
	margin-left: -15px;
}
.add-fitur h5{
	font-size: 14px;
}
.img-ilustrasi img{
	width: 100%;
	margin-bottom: 30px;
}
.list-bottom{
	border-bottom: 1px solid #bdbdbd;
}
.hide {
	display: none;
}
.size-produk img{
	height: 100px;
	width: 80px;
}
.size-produk input{
	margin-left: -10px;
}
.summary h6{
	border-bottom: 1px solid #9e9e9e;
}
.summary h5{
	font-size: 12px;
}
.p-produk p{
	font-size: 14px;
}
.p-produk input:hover{
	cursor: pointer;
}
.p-produk input[type="radio"] {
	display: none;
}

.p-produk input[type="radio"] + label {
	color: #292321;
	font-family: Arial, sans-serif;
	font-size: 14px;
}

.p-produk input[type="radio"] + label span {
	display: inline-block;
	width: 19px;
	height: 19px;
	margin: -1px 4px 0 0;
	vertical-align: middle;
	cursor: pointer;
	border-radius: 50%;
}

.p-produk input[type="radio"] + label span {
	background-color: #292321;
}

.p-produk input[type="radio"]:checked + label span {
	background-color: #0FAEB4;
}

.p-produk input[type="radio"] + label span,
.p-produk input[type="radio"]:checked + label span {
	transition: background-color 0.4s linear;
}

.p-produk input[type="radio"] + label span,
.p-produk input[type="radio"]:checked + label span {
	transition: background-color 0.4s linear;
}


.check-container input[type='checkbox']{
	display:none;
}
.check-container {
	display:inline-block;
	position:relative;
	height:10px;
}
.check-container input[type='checkbox'] + label{
	z-index:15;
	position:absolute;
	left:0px;
	top:7px;
	bottom:10px;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	cursor:pointer;
	width:12px;
	border: 1px solid #444;
	height:12px;

}
.tag {
	margin-left:20px;
	font-size: 14px;
}
.check-container input[type='checkbox']:checked + label{

	-webkit-transition: all .3s ease;

	transition: all .3s ease;
	display:inline-block;
	width:15px;
	height:15px;
	border-top-color:transparent;
	border-right-color:transparent;
	border-bottom-color:#0faeb4;
	border-left-color:transparent;
	transform:rotate(-50deg) translate(5px,-9px);

}

.check-container input[type='checkbox']:checked + label:before {
	content: "";
	position: absolute;
	right: 0;
	bottom: -3px;
	height: 10px;
	width: 100%;  /* or 100px */
	border-left:2px solid #0faeb4;
}

.btn-modal-edit{
}
/*--Upload--*/
.upload{
	padding: 20px;
}
.img-preview-big {
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin-bottom: 5px;
	position: relative;
}

.img-preview-big img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.img-preview-operate {
	height: 60px;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	display: flex;
}

.img-preview-small {
	display: inline-block;
	margin-right: 5px;
	height: 50px;
	width: 50px;
	position: relative;
	justify-content: center;
	align-items: center;
}

.img-preview-small img {
	height: calc(100% - 4px);
	width: calc(100% - 4px);
	object-fit: cover;
	padding: 2px;
	cursor: pointer;
}

.img-preview-operate button {
	padding: 0px;
	margin: 0px;
	background: transparent;
	border: none;
	height: 50px;
	width: 50px;
}

.img-preview-operate button img {
	width: 40px;
	height: 40px;
	object-fit: contain;
	vertical-align: middle;
}

.img-preview-operate::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #F5F5F5;
}

.img-preview-operate::-webkit-scrollbar {
	height: 6px;
	background-color: #F5F5F5;
}

.img-preview-operate::-webkit-scrollbar-thumb {
	background-color: #2F4356;
}

.img-delete {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.img-delete img {
	height: 50px;
	width: 50px;
}

.img-small-active {
	outline: 2px solid;
}

.img-small-selected {
	outline: 2px solid;
}

.img-preview-big{
	max-width: 250px !important;
}


.img-upload-plugin{
	max-width: 250px;
}


.check-container input[type='checkbox']{
	display:none;
}
.check-container {
	display:inline-block;
	position:relative;
	height:10px;
}
.check-container input[type='checkbox'] + label{
	z-index:15;
	position:absolute;
	left:0px;
	top:7px;
	bottom:10px;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	cursor:pointer;
	width:12px;
	border: 1px solid #444;
	height:12px;

}
.tag {
	margin-left:20px;
	font-size: 14px;
}
.check-container input[type='checkbox']:checked + label{

	-webkit-transition: all .3s ease;

	transition: all .3s ease;
	display:inline-block;
	width:15px;
	height:15px;
	border-top-color:transparent;
	border-right-color:transparent;
	border-bottom-color:#0faeb4;
	border-left-color:transparent;
	transform:rotate(-50deg) translate(5px,-9px);

}

.check-container input[type='checkbox']:checked + label:before {
	content: "";
	position: absolute;
	right: 0;
	bottom: -3px;
	height: 10px;
	width: 100%;  /* or 100px */
	border-left:2px solid #0faeb4;
}
/*--Info Pembayaran---*/
#panel-card{
	padding-top: 50px;
	padding-bottom: 50px;
	margin-top: 80px;
	bottom: 0;
}
.panel-card{
	padding: 20px;
}
.bank-corporate{
	margin-top: 25px;
	padding-left: 15%;
	padding-right: 15%;
}
.payment-time{

}
.time{
	margin-top: 35px ;
	margin-bottom: 25px;
}
.time span{
	margin: 5px;
	background-color: #0FAEB4;
	padding: 15px;
	border-radius: 5px;
	font-weight: bold;
	color: #fff;
	font-size: 20px;
}
.time h6{
	margin-top: 20px;
}
.day h6{
	padding-right: 40px;
}
.minute h6{
	padding-left: 40px;
}
/*--Rincian Pesanan--*/
.img3 img{
	width: 70px;
	height: 100px;
}
.title-order{
	padding-left: 20px;
}
#dashboard a:hover{
	text-decoration: none;
}
.attachment-img img{
	width: 80px;
	height: 110px;
}
.box-message{
	margin-top: 20px;
	padding: 15px;
	border-radius: 5px;
	margin-right: 15%;
	margin-left: 15%;
}
.label-price{
	text-align: right;
}
/*--Page Pesanan--*/
.nav-pills-blue a.active{
	background-color: #fff;
	border-left: 4px solid #0FAEB4;
	color: #0FAEB4;
	border-radius: 0 5px 5px 0;
}
.nav-pills-blue a{
	color: black;
	font-size: 14px;
}
.nav-pills-blue a:hover{
	color:  #0FAEB4;
	text-decoration: none;
}
.nav-pills-border-blue{
	overflow-x: auto;
}
.nav-pills-border-blue ul{
	border-bottom: 1px solid #bdbdbd;
}
.nav-pills-border-blue ul li a{
	color: #bdbdbd;
	font-size: 14px;
}
.nav-pills-border-blue ul li a.active{
	border-bottom: 3px solid  #0FAEB4;
	color: #0FAEB4;
}
.font-table{
	font-size: 12px;
}
.upload-font{
	font-size: 14px;
}
.upload-payment .form-control{
	font-size: 14px;
}
.w-100{
}
/*--favorit--*/
figure.snip0045 {
	position: relative;
	overflow: hidden;
	width: 100%;
	background: #ffffff;
	color: #000000;
}
figure.snip0045 * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
figure.snip0045 > img {
	width: 40%;
	min-height: 150px;
	border-radius: 50%;
	border: 4px solid #ffffff;
	-webkit-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
	-webkit-transform: scale(1.6);
	transform: scale(1.6);
	position: relative;
	left: -15%;
	z-index: 1;
}
figure.snip0045 figcaption {
	padding: 20px 20px 20px 10px;
	position: absolute;
	right: 0;
	width: 50%;
}
figure.snip0045 figcaption h2,
figure.snip0045 figcaption p {
	margin: 0;
	text-align: right;
	padding: 10px 0;
	width: 100%;
}
figure.snip0045 figcaption h2 {
	font-size: 14px;
	font-weight: 300;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
figure.snip0045 figcaption h2 span {
	font-weight: 800;
}
figure.snip0045 figcaption p {
	font-size: 10px;
	opacity: 0.8;
}
figure.snip0045 figcaption a {
	opacity: 0.3;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}
figure.snip0045 figcaption a:hover {
	opacity: 0.8;
}
figure.snip0045 .position {
	width: 100%;
	text-align: right;
	padding: 15px 30px;
	font-size: 0.9em;
	opacity: 1;
	font-style: italic;
	color: #ffffff;
	background: #000000;
}
figure.snip0045.blue .position {
	background: #0faeb4;
}
figure.snip0045.red .position {
	background: #0faeb4;
}
figure.snip0045.yellow .position {
	background: #bf6516;
}
figure.snip0045.green .position {
	background: #1e8449;
}
figure.snip0045:hover > img,
figure.snip0045.hover > img {
	left: -12%;
}


/*--Status Pesanan--*/
.img-order img{
	width: 100%;
}
.icon-bank img{
	width: 100px;
	max-height: 70px;
}
.icon-bank a{
	font-style: italic;
	color: #0FAEB4;
}
.img4{
	width: 100%;
}
/*--Btn, bg, Color, bold, font, border rasius, breadcrumb --*/
.f-12 a{
	font-size: 12px;
}
.f-12 {
	font-size: 12px;
}
.b-r-30{
	border-radius: 30px;
}
.b-600{
	font-weight: 600;
}
.bg-yellow{
	background-color: #FFAD53;
}
.btn-blue button{
	background-color: #0FAEB4;
	color: #fff;
}
.btn-blue button:hover{
	color: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn-yellow button{
	background-color: #FFAD53;
	color: #fff;
}
.btn-yellow button:hover{
	color: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn-withdraw button{
	background-color: #0FAEB4;
	color: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn-withdraw button:hover{
	color: #fff;
}
.bg-grey{
	background-color: #F5F5F5;	
}
.white{
	color: #fff;
}
.yellow{
	color: #FFAD53;
}
.pink{
	color: #ff509d;
}
.btn-detail a{
	color: #fff;
	padding: 5px 10px;
}
.btn-detail a:hover{
	color: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.blue{
	color: #0FAEB4;
}
.bg-blue{
	background-color: #0FAEB4;
}
.bg-pink{
	background-color: #FF509D;
}
.btn-detail-order a{
	color: #fff;
	padding: 5px;
}
.btn-detail-order a:hover{
	text-decoration: none;
	color: #fff;
}
.btn-order a{
	padding: 5px 15px;
	border-radius: 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn-order a:hover{
	text-decoration: none;
	color: #fff;
}
.btn-my-order a{
	padding: 5px 15px;
	background-color: #FFAD53;
	border-radius: 30px;
	margin-bottom: 20px;
	margin-top: 20px;
	color: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn-my-order a:hover{
	color: #fff;
}
.btn-my-order button{
	padding: 5px 15px;
	background-color: #0FAEB4;
	border-radius: 30px;
	color: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn-my-order button:hover{
	color: #fff;
}
.modal-footer button{
	border-radius: 30px;
	width: 100px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.info-payment a{
	padding: 5px 15px;
	background-color: #0FAEB4;
	border-radius: 30px;
	color: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.info-payment a:hover{
	color: #fff;
}
ul.breadcrumb {
	padding: 8px 16px;
	list-style: none;
	background-color: rgb(0,0,0,0);
}

ul.breadcrumb li {
	display: inline;
	font-size: 14px;
	font-weight: 600;
}

ul.breadcrumb li+li:before {
	padding: 8px;
	color: black;
	content: "/\00a0";
}

ul.breadcrumb li a {
	color: #0FAEB4;
	font-size: 14px;
}

/*--kotak pesan--*/
.message .active{
	border-left: 5px solid #0FAEB4;
	background-color: #fafafa ;
}
.message:hover{	
	cursor: pointer;
}
.message h6{
	font-size: 14px;
	font-weight: 600;
	margin-top: 5px;
}
.message p{
	font-size: 12px;
	margin-bottom: 0;
}
.message small{
	font-size: 10px;
	color: #bdbdbd;
}
.sender{
	font-weight: bold;
	border-bottom: 1px solid #f5f5f5;
}
.sender img{
	height: 35px;
	width: 35px;
	border-radius: 100px;
}
.list-message .scrollbar{
	float: left;
	height: 300px;
	width: 100%;
	background-color: #fff;
	overflow-y: scroll;
	margin-bottom: 25px;
}

.list-message .force-overflow
{
	min-height: 300px;
}
.list-message #style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: ;
}

.list-message #style-2::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

.list-message #style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #0FAEB4;
}

.send-box{
	background-color: #fafafa ;
	padding-top: 10px;
}
.your-message {
	background-color: #e1f5fe ;
	width: auto;
	padding: 10px;
	border-radius:0px 15px 15px 15px; 
}
.message2{
	background-color: #fffde7  ;
	width: auto;
	padding: 10px;
	border-radius:15px 0px 15px 15px; 
	margin-top: 15px;
	margin-bottom: 15px;
}
.send-box .scrollbar
{
	height: 450px;
	width: 100%;
	background-color: #fafafa;
	overflow-y: scroll;
}

.send-box .force-overflow{
	min-height: 450px;
	padding: 15px;
}
.send-box #style-2::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
}

.send-box #style-2::-webkit-scrollbar{
	width: 8px;
	background-color: #F5F5F5;
}

.send-box #style-2::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #0FAEB4;
}
.ketik_pesan{
	background-color: #fff;
	border-radius: 0px 0px 5px 5px;
	padding: 10px;
}
.ketik_pesan button{
	border-radius: 10px;
	font-size: 12px;
}
/*--pagination--*/
.page-number ul li{
	text-align: center;
	margin: 0 5px;
	padding-top: 2px;
}
.page-number ul li a{
	color: #111;
}
.page-number ul li.active{
	background-color: #0FAEB4;
	height: 25px;
	width: 25px;
	border-radius: 100px;
}
.page-number ul li.active a{
	color: #fff;
}
.page-number ul li:hover a{
	color: #FFAD53;
}

/*--Upload Ilustrasi--*/
.select-ilustration input[type="radio"] {
	display: none;
}

.select-ilustration  input[type="radio"] + label {
	color: #292321;
	font-size: 14px;
}

.select-ilustration  input[type="radio"] + label span {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin: -1px 4px 0 0;
	vertical-align: middle;
	cursor: pointer;
	border-radius: 50%;
}

.select-ilustration  input[type="radio"] + label span {
	background-color: #292321;
}

.select-ilustration  input[type="radio"]:checked + label span {
	background-color: #0faeb4;
}

.select-ilustration  input[type="radio"] + label span,
.select-ilustration  input[type="radio"]:checked + label span {
	transition: background-color 0.4s linear;
}

.select-ilustration  input[type="radio"] + label span,
.select-ilustration  input[type="radio"]:checked + label span {
	transition: background-color 0.4s linear;
}
.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	float: left;
}

.switch-field label {
	display: inline-block;
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	text-shadow: none;
	padding: 4px 8px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition:    all 0.1s ease-in-out;
	-ms-transition:     all 0.1s ease-in-out;
	-o-transition:      all 0.1s ease-in-out;
	transition:         all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: #00bfa5;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-weight: bold;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}
.box-ilustrasi{
	display: none;
	overflow-x: auto;
}
.box-ilustrasi img{
	width: 100%;
	max-height: 100px;
}
/*Responsive*/
@media (min-width: 120px) and (max-width: 320px) {
	.menu-desktop .hidden-menu-mobile{
		display: none;
	}
	.col-search{
		display: none;
	}
	.menu-desktop  .icon-menu-mobile{
		display: block;
	}
	.register{
		margin-bottom: 50px;
	}
	/*-- Index --*/
	.about{
		padding-top: 100px;
	}
	.img-about{
		margin-top: -50px;
		height: 200px;
		width: 100%;
	}
	.description-pickpict p{
		font-size: 14px;
	}
	.brk-btn {
		position: relative;
		background: none;
		color: #0FAEB4;
		text-transform: uppercase;
		text-decoration: none;
		border: 2px solid #0FAEB4;
		padding: 0.5em 1em;
		font-size: 14px;
	}
	.title h1{
		font-size: 24px;
	}
	.description-service p{
		font-size: 14px;
		text-align: justify;
	}
	.description-koleksi p{
		font-size: 14px;
		text-align: justify;
	}
	/*--Page service--*/
	.list-service h5{
		font-size: 14px;
	}
	.list-service p{
		font-size: 12px;
	}
	.img-service{
		width: 100%;
	}
	/*--info pembayaran--*/
	.bank-corporate{
		text-align: center;
	}
	.bank-corporate img{
		margin-bottom: 15px;
		width: 70%;
	}
	.title-info-buying h5{
		font-size: 14px;
	}
	.title-info-buying h4{
		font-size: 18px;
	}
	.title-info-buying h6{
		font-size: 14px;
	}
	.bank-corporate h6{
		font-size: 14px;
	}
	.m-t-t{
		margin-top: -5px;
	}
	.m-t-t h6{
		margin-top: -15px;
	}
	.payment-time h4{
		font-size: 14px;
	}
	.payment-time h5{
		font-size: 14px;
	}
	.payment-time h6{
		font-size: 14px;
	}
	.info-payment p{
		font-size: 14px;
	}
	.time span{
		margin: 5px;
		background-color: #0FAEB4;
		padding: 5px;
		text-align: center;
		border-radius: 5px;
		font-weight: bold;
		color: #fff;
		font-size: 12px;
	}

	.time h6{
		margin-top: 20px;
		font-size: 12px;
	}
	.day h6{
		padding-right: 20px;
		font-size: 12px;
	}
	.minute h6{
		padding-left: 20px;
		font-size: 12px;
	}
	/*--Pesan Custom*/
	.title-custom{
		font-size: 12px;
	}
	.title-custom h6{
		font-size: 12px;
	}
	.rating3 h6{
		font-size: 12px;
	}
	.detail-info-creator {
		font-size: 12px;
	}
	.type-ilustrasi{
		font-size: 12px;
	}
	.creatorBy{
		font-size: 12px;
	}
	.detail-info-creator h3{
		font-size: 18px;
	}
	.title4{
		width: 100%;
	}
	.f-12 h6{
		font-size: 12px;
	}
	.f-14{
		font-size: 14px;
	}
	.box p{
		font-size: 12px;
	}
	/*--Pesanan Anda*/
	.add-fitur span{
		font-size: 12px;
	}
	.add-fitur h5{
		font-size: 12px;
		padding-top: 3px;
	}
	.f-12 h6{
		font-size: 12px;
	}
	.produk-print {
		font-size: 12px;
	}
	/*--Deatil Pesanan--*/
	.table-order{
		width: 100%;
	}
	.table-order th{
		font-size: 14px;
	}
	.table-order td{
		font-size: 12px;
	}
	.table-order th{
		font-size: 12px;
	}
	.table-order td{
		font-size: 12px;
	}
	.info-address h6{
		font-size: 12px;
	}
	.btn-modal-edit h6{
		padding-top: 5px;
	}
	.btn-modal-edit a{
		font-size: 12px;
		text-align: left;
		margin-top: -20px;
	}
	.f-12{
		font-size: 12px;
	}
	/*--dashboard--*/
	.menu-dashboard .hide-menu-mobile{
		display: none;
	}
	.icon-header-mobile{
		display: block;
	}
	.scroll{
		width: 300%;
	}
	.badge{
		font-size: 10px;
	}
	/*--rincian pesanan--*/
	.box-message{
		margin-right: 0;
		margin-left: 0;
	}
	.label-price{
		text-align: left;
	}
}
@media (min-width: 321px) and (max-width: 576px) {
	.menu-desktop .hidden-menu-mobile{
		display: none;
	}
	.col-search{
		display: none;
	}
	.menu-desktop  .icon-menu-mobile{
		display: block;
	}
	.register{
		margin-bottom: 50px;
	}
	/*-- Index --*/
	.about{
		padding-top: 100px;
	}
	.img-about{
		margin-top: -50px;
		height: 200px;
		width: 100%;
	}
	.description-pickpict p{
		font-size: 14px;
	}
	.brk-btn {
		position: relative;
		background: none;
		color: #0FAEB4;
		text-transform: uppercase;
		text-decoration: none;
		border: 2px solid #0FAEB4;
		padding: 0.5em 1em;
		font-size: 14px;
	}
	.title h1{
		font-size: 24px;
	}
	.description-service p{
		font-size: 14px;
		text-align: justify;
	}
	.description-koleksi p{
		font-size: 14px;
		text-align: justify;
	}
	/*--Page service--*/
	.list-service h5{
		font-size: 14px;
	}
	.list-service p{
		font-size: 12px;
	}
	.img-service{
		width: 100%;
	}
	/*--info pembayaran--*/
	.bank-corporate{
		text-align: center;
	}
	.bank-corporate img{
		margin-bottom: 15px;
		width: 70%;
	}
	.title-info-buying h5{
		font-size: 14px;
	}
	.title-info-buying h4{
		font-size: 18px;
	}
	.title-info-buying h6{
		font-size: 14px;
	}
	.bank-corporate h6{
		font-size: 14px;
	}
	.m-t-t h6{
		margin-top: -15px;
	}
	.payment-time h4{
		font-size: 14px;
	}
	.payment-time h5{
		font-size: 14px;
	}
	.payment-time h6{
		font-size: 14px;
	}
	.info-payment p{
		font-size: 14px;
	}
	.time span{
		margin: 5px;
		background-color: #0FAEB4;
		padding: 10px;
		text-align: center;
		border-radius: 5px;
		font-weight: bold;
		color: #fff;
		font-size: 12px;
	}

	.time h6{
		margin-top: 20px;
		font-size: 12px;
	}
	.day h6{
		padding-right: 30px;
		font-size: 12px;
	}
	.minute h6{
		padding-left: 30px;
		font-size: 12px;
	}
	/*--Pesan Custom*/
	.title-custom{
		font-size: 12px;
	}
	.title-custom h6{
		font-size: 12px;
	}
	.rating3 h6{
		font-size: 12px;
	}
	.detail-info-creator {
		font-size: 12px;
	}
	.type-ilustrasi{
		font-size: 12px;
	}
	.creatorBy{
		font-size: 12px;
	}
	.detail-info-creator h3{
		font-size: 18px;
	}
	.title4{
		width: 100%;
	}
	.f-12 h6{
		font-size: 12px;
	}
	.box p{
		font-size: 12px;
	}
	/*--Pesanan Anda*/
	.add-fitur span{
		font-size: 12px;
	}
	.add-fitur h5{
		font-size: 12px;
		padding-top: 3px;
	}
	.f-12 h6{
		font-size: 12px;
	}
	.produk-print {
		font-size: 12px;
	}
	/*--Deatil Pesanan--*/
	.table-order{
		width: 100%;
	}
	.table-order th{
		font-size: 14px;
	}
	.table-order td{
		font-size: 12px;
	}
	.table-order th{
		font-size: 12px;
	}
	.table-order td{
		font-size: 12px;
	}
	.info-address h6{
		font-size: 12px;
	}
	.btn-modal-edit h6{
		padding-top: 5px;
	}
	.btn-modal-edit a{
		font-size: 12px;
		text-align: left;
		margin-top: -20px;
	}
	.f-12{
		font-size: 12px;
	}
	.btn-my-order a{
		margin-top: 20px;
	}
	/*--dashboard--*/
	.menu-dashboard .hide-menu-mobile{
		display: none;
	}
	.icon-header-mobile{
		display: block;
	}
	.scroll{
		width: 250%;
	}
	/*--rincian pesanan--*/
	.box-message{
		margin-right: 0;
		margin-left: 0;
	}
	.label-price{
		text-align: left;
	}
	
}
@media (min-width: 577px) and (max-width: 767px) {
	.menu-desktop .hidden-menu-mobile{
		display: none;
	}
	.col-search{
		display: none;
	}

	.menu-desktop .icon-menu-mobile{
		display: block;
	}
	/*--dashboard--*/
	.menu-dashboard .hide-menu-mobile{
		display: none;
	}
	.icon-header-mobile{
		display: block;
	}
	.scroll{
		width: 250%;
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	.menu-desktop ul li{
		display: inline-block;
		margin-left: 5px;
	}
	.menu-desktop  .icon-menu-mobile{
		display: none;
	}
	/*--Info Pembayaran--*/
	.bank-corporate{
		text-align: center;
	}
	.bank-corporate img{
		margin-bottom: 20px;
		width: 70%;
	}
	/*--detail pesanan--*/
	.table-order{
		width: 100%;
	}
	.btn-my-order a{
		margin-top: 20px;
	}
	/*--dashboard--*/
	.menu-dashboard .hide-menu-mobile{
		display: none;
	}
	.icon-header-mobile{
		display: block;
	}
	.scroll{
		width: 250%;
	}
}

@media (min-width: 993px) and (max-width: 1024) {
	.menu-desktop ul li{
		display: inline-block;
		margin-left: 5px;
	}
	/*--detail pesanan--*/
	.table-order{
		width: 100%;
	}
	.btn-my-order a{
		margin-top: 20px;
	}
	.scroll{
		width: 350%;
	}
}
@media (min-width: 1025) and (max-width: 1200px) {
	/*--detail pesanan--*/
	.table-order{
		width: 100%;
	}
	.btn-my-order a{
		margin-top: 20px;
	}
	.scroll{
		width: 350%;
	}
}